<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties/>
    <Appenders>
        <Console name="rootAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/> <!-- todo: customize pattern -->
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="de.braack">
            <AppenderRef ref="rootAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="rootAppender"/>
        </Root>
    </Loggers>
</Configuration>